Repository devlink-community/gaesubang-app, pull requests merged in 2025-05, with the labels that each got.

#58 [feat] Member모델 생성 및 getMemberByIdUseCase 생성
  lib/auth/domain/model/member.dart
  lib/auth/domain/usecase/get_member_by_id_use_case.dart
Labels: 🚀 feat

#59 feat : UserDto와 ProfileDto를 병합하는 Model 객체 기본 로직 구현
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/data_source/mock_profile_data_source.dart
  lib/auth/data/data_source/profile_data_source.dart
  lib/auth/data/dto/profile_dto.dart
  lib/auth/data/dto/user_dto.dart
  lib/auth/data/mapper/member_mapper.dart
  lib/auth/data/mapper/user_mapper.dart
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/domain/model/member.dart
  lib/auth/domain/model/user.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/login_use_case.dart
  lib/auth/domain/usecase/mock_login_user_case.dart
  lib/auth/module/auth_di.dart
  lib/auth/presentation/login_state.dart
Labels: 🚀 feat, 🔀 merged

#60 [feat] 50/communitylist 화면 생성
  lib/community/community.md
  lib/community/community_main.dart
  lib/community/data/data_source/mock_post_data_source_impl.dart
  lib/community/data/data_source/post_data_source.dart
  lib/community/data/dto/comment_dto.dart
  lib/community/data/dto/hash_tag_dto.dart
  lib/community/data/dto/like_dto.dart
  lib/community/data/dto/member_dto.dart
  lib/community/data/dto/post_dto.dart
  lib/community/data/mapper/post_mapper.dart
  lib/community/data/repository_impl/post_repository_impl.dart
  lib/community/domain/model/comment.dart
  lib/community/domain/model/hash_tag.dart
  lib/community/domain/model/like.dart
  lib/community/domain/model/post.dart
  lib/community/domain/repository/post_repository.dart
  lib/community/domain/usecase/load_post_list_use_case.dart
  lib/community/domain/usecase/switch_tab_use_case.dart
  lib/community/module/community_di.dart
  lib/community/module/community_router.dart
  lib/community/module/util/ community_tab_type_enum.dart
  lib/community/module/util/board_type_enum.dart
  lib/community/presentation/community_list/community_list_action.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_list/community_list_screen.dart
  lib/community/presentation/community_list/community_list_screen_root.dart
  lib/community/presentation/community_list/community_list_state.dart
  lib/community/presentation/component/post_list_item.dart
Labels: 🚀 feat

#65 [feat] Community Detail Screen
  lib/community/data/data_source/mock_post_data_source_impl.dart
  lib/community/data/data_source/post_data_source.dart
  lib/community/data/mapper/commnet_mapper.dart
  lib/community/data/repository_impl/post_repository_impl.dart
  lib/community/domain/model/hash_tag.dart
  lib/community/domain/model/like.dart
  lib/community/domain/model/post.dart
  lib/community/domain/repository/post_repository.dart
  lib/community/domain/usecase/create_comment_use_case.dart
  lib/community/domain/usecase/fetch_comments_use_case.dart
  lib/community/domain/usecase/fetch_post_detail_use_case.dart
  lib/community/domain/usecase/toggle_bookmark_use_case.dart
  lib/community/domain/usecase/toggle_like_use_case.dart
  lib/community/module/community_di.dart
  lib/community/module/community_router.dart
  lib/community/presentation/community_detail/community_detail_action.dart
  lib/community/presentation/community_detail/community_detail_notifier.dart
  lib/community/presentation/community_detail/community_detail_screen.dart
  lib/community/presentation/community_detail/community_detail_screen_root.dart
  lib/community/presentation/community_detail/community_detail_state.dart
  lib/community/presentation/community_detail/component/comment_item.dart
  lib/community/presentation/community_list/community_list_state.dart
Labels: 🚀 feat

#77 [feat]: 공통으로 사용하는 UI (텍스트,컬러)
  lib/core/styles/app_color_styles.dart
  lib/core/styles/app_text_styles.dart
Labels: 🚀 feat

#80 [feat] 그룹 타이머 기능 구현 (#63)
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/group/data/data_source/group_data_source.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/data_source/mock_timer_data_source_impl.dart
  lib/group/data/data_source/timer_data_source.dart
  lib/group/data/dto/group_dto.dart
  lib/group/data/dto/timer_session_dto.dart
  lib/group/data/mepper/group_mepper.dart
  lib/group/data/mepper/timer_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/data/repository_impl/timer_repository_impl.dart
  lib/group/domain/model/group.dart
  lib/group/domain/model/timer_session.dart
  lib/group/domain/repository/group_repository.dart
  lib/group/domain/repository/timer_repository.dart
  lib/group/domain/usecase/create_group_use_case.dart
  lib/group/domain/usecase/get_group_detail_use_case.dart
  lib/group/domain/usecase/get_group_list_use_case.dart
  lib/group/domain/usecase/get_timer_sessions_use_case.dart
  lib/group/domain/usecase/join_group_use_case.dart
  lib/group/domain/usecase/leave_group_use_case.dart
  lib/group/domain/usecase/resume_timer_use_case.dart
  lib/group/domain/usecase/start_timer_use_case.dart
  lib/group/domain/usecase/stop_timer_use_case.dart
  lib/group/domain/usecase/update_group_use_case.dart
  lib/group/module/group_di.dart
  lib/group/module/group_router.dart
  lib/group/module/group_timer_test.dart
  lib/group/presentation/group_list/group_list_action.dart
  lib/group/presentation/group_list/group_list_notifier.dart
  lib/group/presentation/group_list/group_list_screen.dart
  lib/group/presentation/group_list/group_list_screen_root.dart
  lib/group/presentation/group_list/group_list_state.dart
  lib/group/presentation/group_list_item.dart
  lib/group/presentation/group_timer/components/member_timer_item.dart
  lib/group/presentation/group_timer/components/member_timer_status.dart
  lib/group/presentation/group_timer/components/timer_circle_progress.dart
  lib/group/presentation/group_timer/group_timer_action.dart
  lib/group/presentation/group_timer/group_timer_notifier.dart
  lib/group/presentation/group_timer/group_timer_screen.dart
  lib/group/presentation/group_timer/group_timer_screen_root.dart
  lib/group/presentation/group_timer/group_timer_state.dart
  lib/group/presentation/group_timer/mock_screen/mock_screen.dart
Labels: 🐞 fix, 🚀 feat, ✅ test, 👀 ready for review

#85 [feat] 그룹 생성하기 화면 구현
  android/app/src/main/AndroidManifest.xml
  ios/Flutter/Debug.xcconfig
  ios/Flutter/Release.xcconfig
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner.xcworkspace/contents.xcworkspacedata
  ios/Runner/Info.plist
  lib/group/domain/usecase/create_group_use_case.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_create/group_create_action.dart
  lib/group/presentation/group_create/group_create_notifier.dart
  lib/group/presentation/group_create/group_create_screen.dart
  lib/group/presentation/group_create/group_create_screen_root.dart
  lib/group/presentation/group_create/group_create_state.dart
  lib/group/presentation/labeled_text_field.dart
  lib/group/presentation/tag_input_field.dart
  pubspec.yaml
Labels: 🚀 feat, 👀 ready for review

#89 [feat] 맵 UI 구현 (#87)
  android/app/src/main/AndroidManifest.xml
  lib/map/data/data_source/map_data_source.dart
  lib/map/data/data_source/map_data_source_impl.dart
  lib/map/data/dto/location_dto.dart
  lib/map/data/dto/map_marker_dto.dart
  lib/map/data/dto/near_by_items_dto.dart
  lib/map/data/mapper/location_mapper.dart
  lib/map/data/mapper/map_marker_mapper.dart
  lib/map/data/mapper/near_by_items_mapper.dart
  lib/map/data/repository_impl/map_repository_impl.dart
  lib/map/domain/model/location.dart
  lib/map/domain/model/map_marker.dart
  lib/map/domain/model/near_by_items.dart
  lib/map/domain/repository/map_repository.dart
  lib/map/domain/usecase/check_location_permission_use_case.dart
  lib/map/domain/usecase/get_current_location_use_case.dart
  lib/map/domain/usecase/get_near_by_items_use_case.dart
  lib/map/domain/usecase/save_location_data_use_case.dart
  lib/map/module/filter_type.dart
  lib/map/module/map_di.dart
  lib/map/module/map_test_main.dart
  lib/map/presentation/components/filter_tabs.dart
  lib/map/presentation/components/nearby_card_view.dart
  lib/map/presentation/components/radius_slider.dart
  lib/map/presentation/map_action.dart
  lib/map/presentation/map_notifier.dart
  lib/map/presentation/map_screen.dart
  lib/map/presentation/map_screen_root.dart
  lib/map/presentation/map_state.dart
  pubspec.yaml
Labels: 🚀 feat

#91 [feat] 클로드로 코드 리팩토링
  lib/community/domain/usecase/create_comment_use_case.dart
  lib/community/domain/usecase/create_post_use_case.dart
  lib/community/domain/usecase/fetch_comments_use_case.dart
  lib/community/domain/usecase/fetch_post_detail_use_case.dart
  lib/community/domain/usecase/load_post_list_use_case.dart
  lib/community/domain/usecase/toggle_bookmark_use_case.dart
  lib/community/domain/usecase/toggle_like_use_case.dart
  lib/community/presentation/community_detail/community_detail_notifier.dart
  lib/community/presentation/community_detail/community_detail_screen.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_list/community_list_screen.dart
  lib/community/presentation/community_list/community_list_state.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/community/presentation/components/post_list_item.dart
Labels: 🐞 fix, 🔨 refactor, 🚀 feat, 🔀 merged

#97 [feat] 로그인 기능 및 UI 구현 (#62)
  lib/auth/data/data_source/auth_data_source.dart
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/data_source/mock_profile_data_source.dart
  lib/auth/data/data_source/user_storage.dart
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/check_email_availability_use_case.dart
  lib/auth/domain/usecase/check_nickname_availability_use_case.dart
  lib/auth/domain/usecase/delete_account_use_case.dart
  lib/auth/domain/usecase/reset_password_use_case.dart
  lib/auth/domain/usecase/signup_use_case.dart
  lib/auth/domain/usecase/validate_email_use_case.dart
  lib/auth/domain/usecase/validate_nickname_use_case.dart
  lib/auth/domain/usecase/validate_password_confirm_use_case.dart
  lib/auth/domain/usecase/validate_password_use_case.dart
  lib/auth/domain/usecase/validate_terms_agreement_use_case.dart
  lib/auth/module/auth_di.dart
  lib/auth/module/auth_test_main.dart
  lib/auth/presentation/component/custom_button.dart
  lib/auth/presentation/component/custom_text_field.dart
  lib/auth/presentation/forgot_password/forgot_password_action.dart
  lib/auth/presentation/forgot_password/forgot_password_notifier.dart
  lib/auth/presentation/forgot_password/forgot_password_screen.dart
  lib/auth/presentation/forgot_password/forgot_password_screen_root.dart
  lib/auth/presentation/forgot_password/forgot_password_state.dart
  lib/auth/presentation/login/login_action.dart
  lib/auth/presentation/login/login_notifier.dart
  lib/auth/presentation/login/login_screen.dart
  lib/auth/presentation/login/login_screen_root.dart
  lib/auth/presentation/login/login_state.dart
  lib/auth/presentation/login_screen.dart
  lib/auth/presentation/signup/signup_action.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/auth/presentation/signup/signup_screen_root.dart
  lib/auth/presentation/signup/signup_state.dart
  lib/community/data/mapper/commnet_mapper.dart
  lib/community/presentation/community_detail/component/comment_item.dart
  lib/community/presentation/component/post_list_item.dart
Labels: 🚀 feat

#103 [feat] group_settings 구현
  lib/community/domain/usecase/create_comment_use_case.dart
  lib/community/domain/usecase/create_post_use_case.dart
  lib/community/domain/usecase/fetch_comments_use_case.dart
  lib/community/domain/usecase/fetch_post_detail_use_case.dart
  lib/community/domain/usecase/load_post_list_use_case.dart
  lib/community/domain/usecase/toggle_bookmark_use_case.dart
  lib/community/domain/usecase/toggle_like_use_case.dart
  lib/community/presentation/community_detail/community_detail_notifier.dart
  lib/community/presentation/community_detail/community_detail_screen.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_list/community_list_screen.dart
  lib/community/presentation/community_list/community_list_state.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/community/presentation/components/post_list_item.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_create/group_create_notifier.dart
  lib/group/presentation/group_search/group_search_state.dart
  lib/group/presentation/group_setting/group_settings_action.dart
  lib/group/presentation/group_setting/group_settings_notifier.dart
  lib/group/presentation/group_setting/group_settings_screen.dart
  lib/group/presentation/group_setting/group_settings_screen_root.dart
  lib/group/presentation/group_setting/group_settings_state.dart
  lib/group/presentation/labeled_text_field.dart
Labels: 🚀 feat, 👀 ready for review

#109 [feat] 약관 UI 및 기능 구현
  assets/images/gaesubang_mascot.png
  assets/images/gaesubang_mascot1.png
  lib/auth/data/data_source/auth_data_source.dart
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/data_source/user_storage.dart
  lib/auth/data/dto/user_dto.dart
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/domain/model/member.dart
  lib/auth/domain/model/terms_agreement.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/check_email_availability_use_case.dart
  lib/auth/domain/usecase/get_terms_info_use_case.dart
  lib/auth/domain/usecase/login_use_case.dart
  lib/auth/domain/usecase/reset_password_use_case.dart
  lib/auth/domain/usecase/save_terms_agreement_use_case.dart
  lib/auth/domain/usecase/signup_use_case.dart
  lib/auth/domain/usecase/validate_email_use_case.dart
  lib/auth/module/auth_di.dart
  lib/auth/presentation/component/custom_text_field.dart
  lib/auth/presentation/forgot_password/forgot_password_notifier.dart
  lib/auth/presentation/login/login_notifier.dart
  lib/auth/presentation/login/login_screen.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/auth/presentation/signup/signup_screen_root.dart
  lib/auth/presentation/signup/signup_state.dart
  lib/auth/presentation/terms/terms_action.dart
  lib/auth/presentation/terms/terms_notifier.dart
  lib/auth/presentation/terms/terms_screen.dart
  lib/auth/presentation/terms/terms_screen_root.dart
  lib/auth/presentation/terms/terms_state.dart
  lib/core/result/result.dart
Labels: 🚀 feat

#99 [feat] 로그인, 회원가입, 비밀번호 변경 (#46)
  assets/images/gaesubang_mascot.png
  assets/images/gaesubang_mascot1.png
  lib/auth/data/data_source/auth_data_source.dart
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/data_source/mock_profile_data_source.dart
  lib/auth/data/data_source/user_storage.dart
  lib/auth/data/dto/user_dto.dart
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/domain/model/member.dart
  lib/auth/domain/model/terms_agreement.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/check_email_availability_use_case.dart
  lib/auth/domain/usecase/check_nickname_availability_use_case.dart
  lib/auth/domain/usecase/delete_account_use_case.dart
  lib/auth/domain/usecase/get_terms_info_use_case.dart
  lib/auth/domain/usecase/login_use_case.dart
  lib/auth/domain/usecase/reset_password_use_case.dart
  lib/auth/domain/usecase/save_terms_agreement_use_case.dart
  lib/auth/domain/usecase/signup_use_case.dart
  lib/auth/domain/usecase/validate_email_use_case.dart
  lib/auth/domain/usecase/validate_nickname_use_case.dart
  lib/auth/domain/usecase/validate_password_confirm_use_case.dart
  lib/auth/domain/usecase/validate_password_use_case.dart
  lib/auth/domain/usecase/validate_terms_agreement_use_case.dart
  lib/auth/module/auth_di.dart
  lib/auth/module/auth_test_main.dart
  lib/auth/presentation/component/custom_button.dart
  lib/auth/presentation/component/custom_text_field.dart
  lib/auth/presentation/forgot_password/forgot_password_action.dart
  lib/auth/presentation/forgot_password/forgot_password_notifier.dart
  lib/auth/presentation/forgot_password/forgot_password_screen.dart
  lib/auth/presentation/forgot_password/forgot_password_screen_root.dart
  lib/auth/presentation/forgot_password/forgot_password_state.dart
  lib/auth/presentation/login/login_action.dart
  lib/auth/presentation/login/login_notifier.dart
  lib/auth/presentation/login/login_screen.dart
  lib/auth/presentation/login/login_screen_root.dart
  lib/auth/presentation/login/login_state.dart
  lib/auth/presentation/login_screen.dart
  lib/auth/presentation/signup/signup_action.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/auth/presentation/signup/signup_screen_root.dart
  lib/auth/presentation/signup/signup_state.dart
  lib/auth/presentation/terms/terms_action.dart
  lib/auth/presentation/terms/terms_notifier.dart
  lib/auth/presentation/terms/terms_screen.dart
  lib/auth/presentation/terms/terms_screen_root.dart
  lib/auth/presentation/terms/terms_state.dart
  lib/community/data/mapper/commnet_mapper.dart
  lib/community/presentation/community_detail/component/comment_item.dart
  lib/community/presentation/component/post_list_item.dart
  lib/core/result/result.dart
Labels: 🚀 feat

#130 [feat] Router 병합 및 버텀시트
  lib/auth/module/auth_di.dart
  lib/community/module/community_router.dart
  lib/core/router/app_router.dart
  lib/group/module/group_di.dart
  lib/main.dart
Labels: 🚀 feat, 👀 ready for review

#132 [feat] 그룹
  lib/attendance/data/data_source/attendance_data_source.dart
  lib/attendance/data/data_source/mock_attendance_data_source_impl.dart
  lib/attendance/data/dto/attendance_dto.dart
  lib/attendance/data/mapper/attendance_mapper.dart
  lib/attendance/data/repository/attendance_repository_impl.dart
  lib/attendance/domain/model/attendance.dart
  lib/attendance/domain/model/group.dart
  lib/attendance/domain/model/member.dart
  lib/attendance/domain/repository/attendance_repository.dart
  lib/attendance/domain/usecase/get_attendance_by_month_use_case.dart
  lib/attendance/domain/usecase/record_timer_attendance_use_case.dart
  lib/attendance/module/attendance_di.dart
  lib/attendance/presentation/attendance/attendance_action.dart
  lib/attendance/presentation/attendance/attendance_notifier.dart
  lib/attendance/presentation/attendance/attendance_screen.dart
  lib/attendance/presentation/attendance/attendance_screen_root.dart
  lib/attendance/presentation/attendance/attendance_state.dart
  lib/attendance/presentation/component/calendar_grid.dart
  lib/attendance/presentation/component/date_cell.dart
  lib/attendance/presentation/component/weekday_label.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/data_source/mock_timer_data_source_impl.dart
  lib/group/data/data_source/timer_data_source.dart
  lib/group/data/dto/group_dto.dart
  lib/group/data/mapper/group_mapper.dart
  lib/group/data/mapper/timer_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/data/repository_impl/timer_repository_impl.dart
  lib/group/domain/model/group.dart
  lib/group/domain/model/member_timer.dart
  lib/group/domain/model/member_timer_status.dart
  lib/group/domain/repository/group_repository.dart
  lib/group/domain/repository/timer_repository.dart
  lib/group/domain/usecase/get_member_timers_use_case.dart
  lib/group/domain/usecase/search_groups_use_case.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_create/group_create_notifier.dart
  lib/group/presentation/group_create/group_create_screen_root.dart
  lib/group/presentation/group_list/group_list_screen_root.dart
  lib/group/presentation/group_search/group_search_action.dart
  lib/group/presentation/group_search/group_search_notifier.dart
  lib/group/presentation/group_search/group_search_screen.dart
  lib/group/presentation/group_search/group_search_screen_root.dart
  lib/group/presentation/group_search/group_search_state.dart
  lib/group/presentation/group_setting/group_settings_action.dart
  lib/group/presentation/group_setting/group_settings_notifier.dart
  lib/group/presentation/group_setting/group_settings_screen.dart
  lib/group/presentation/group_setting/group_settings_screen_root.dart
  lib/group/presentation/group_setting/group_settings_state.dart
  lib/group/presentation/group_timer/components/member_timer_item.dart
  lib/group/presentation/group_timer/components/member_timer_status.dart
  lib/group/presentation/group_timer/group_timer_notifier.dart
  lib/group/presentation/group_timer/group_timer_state.dart
  lib/group/presentation/labeled_text_field.dart
  lib/group/presentation/tag_input_field.dart
  lib/main.dart
  pubspec.yaml
Labels: 🚀 feat

#135 [feat] Notification
  .gitignore
  lib/notification/data/data_source/mock_notification_data_source_impl.dart
  lib/notification/data/data_source/notification_data_source.dart
  lib/notification/data/dto/notification_dto.dart
  lib/notification/data/mapper/notification_mapper.dart
  lib/notification/data/repository_impl/notification_repository_impl.dart
  lib/notification/domain/model/app_notification.dart
  lib/notification/domain/repository/notification_repository.dart
  lib/notification/domain/usecase/delete_notification_use_case.dart
  lib/notification/domain/usecase/get_notifications_use_case.dart
  lib/notification/domain/usecase/mark_all_notifications_as_read_use_case.dart
  lib/notification/domain/usecase/mark_notification_as_read_use_case.dart
  lib/notification/module/notification_di.dart
  lib/notification/module/notification_router.dart
  lib/notification/notification_main.dart
  lib/notification/presentation/components/notification_item.dart
  lib/notification/presentation/notification_action.dart
  lib/notification/presentation/notification_notifier.dart
  lib/notification/presentation/notification_screen.dart
  lib/notification/presentation/notification_screen.root.dart
  lib/notification/presentation/notification_state.dart
  pubspec.yaml
  test/notification/data/repository_impl/notification_repository_impl_test.dart
  test/notification/data/repository_impl/notification_repository_impl_test.mocks.dart
  test/notification/domain/model/notification_mapper_test.dart
  test/notification/domain/model/notification_test.dart
  test/notification/domain/usecase/get_notifications_use_case_test.dart
  test/notification/domain/usecase/get_notifications_use_case_test.mocks.dart
Labels: 🚀 feat, 👀 ready for review

#138 [docs] logic/firebase_model.md 추가
  docs/README.md
  docs/logic/firebase_model.md
Labels: 📚 docs

#140 [feat]: profile수정
  lib/core/component/navigation_bar.dart
  lib/core/router/app_router.dart
  lib/edit_intro/presentation/edit_intro_notifier.dart
  lib/edit_intro/presentation/screens/edit_intro_screen.dart
  lib/intro/presentation/component/user_intro.dart
  lib/intro/presentation/intro_screen_root.dart
  lib/setting/presentation/settings_screen.dart
  lib/setting/presentation/settings_screen_root.dart
Labels: 🚀 feat

#144 [fix] iOS 설정 변경
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
Labels: 🐞 fix

#146 [fix] auth 모든 화면 오버플로우 버그 해결
  lib/auth/presentation/forgot_password/forgot_password_screen.dart
  lib/auth/presentation/login/login_screen.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/auth/presentation/terms/terms_screen.dart
  lib/auth/presentation/terms/terms_screen_root.dart
Labels: 🐞 fix, 👀 ready for review

#169 [refactor] 라우터 통합 및 개발용 로그인 flag 추가
  lib/attendance/module/attendance_di.dart
  lib/auth/module/auth_di.dart
  lib/auth/module/auth_test_main.dart
  lib/community/community_main.dart
  lib/community/module/community_router.dart
  lib/core/component/navigation_bar.dart
  lib/core/router/app_router.dart
  lib/group/module/group_di.dart
  lib/group/module/group_router.dart
  lib/group/module/group_timer_test.dart
  lib/intro/module/intro_route.dart
  lib/notification/module/notification_router.dart
  lib/notification/notification_main.dart
  lib/setting/module/settings_route.dart
Labels: 🔨 refactor

#175 [fix] app 전체 테마 설정 완료 / main 수정 완료 (#173)
  lib/core/styles/app_theme.dart
  lib/main.dart
Labels: 🐞 fix, 🚀 feat, 👀 ready for review

#178 [bug] : profile 앱바 및 수정화면 후 이동 변경, 프로필 수정 후 화면 반영 목업
  assets/images/user1.jpeg
  assets/images/user2.jpeg
  lib/auth/data/data_source/user_storage.dart
  lib/core/component/navigation_bar.dart
  lib/core/router/app_router.dart
  lib/edit_intro/data/data_source/data_source.dart
  lib/edit_intro/data/data_source/user_storage_profile_update.dart
  lib/edit_intro/data/repository_impl/edit_intro_repository_impl.dart
  lib/edit_intro/presentation/edit_intro_notifier.dart
  lib/edit_intro/presentation/screens/edit_intro_demo_screen.dart
  lib/edit_intro/presentation/screens/edit_intro_root.dart
  lib/edit_intro/presentation/screens/edit_intro_screen.dart
  lib/intro/presentation/component/user_intro.dart
  lib/intro/presentation/intro_notifier.dart
  lib/intro/presentation/intro_screen_root.dart
  lib/setting/presentation/forgot_password_screen_2.dart
  lib/setting/presentation/forgot_password_screen_root_2.dart
  lib/setting/presentation/settings_screen_root.dart
Labels: 🐞 fix, 👀 ready for review

#172 [feat] 파이어베이스 연동 및 Search 스크린 생성
  android/app/build.gradle.kts
  android/settings.gradle.kts
  firebase.json
  ios/Runner.xcodeproj/project.pbxproj
  lib/community/data/data_source/mock_post_data_source_impl.dart
  lib/community/data/data_source/post_data_source.dart
  lib/community/data/data_source/post_firebase_data_source.dart
  lib/community/data/dto/comment_dto.dart
  lib/community/data/dto/like_dto.dart
  lib/community/data/dto/member_dto.dart
  lib/community/data/dto/post_dto.dart
  lib/community/data/mapper/comment_mapper.dart
  lib/community/data/mapper/commnet_mapper.dart
  lib/community/data/mapper/post_mapper.dart
  lib/community/data/repository_impl/post_repository_impl.dart
  lib/community/domain/model/comment.dart
  lib/community/domain/model/like.dart
  lib/community/domain/model/post.dart
  lib/community/domain/repository/post_repository.dart
  lib/community/domain/usecase/create_post_use_case.dart
  lib/community/domain/usecase/search_posts_use_case.dart
  lib/community/module/community_di.dart
  lib/community/presentation/community_detail/community_detail_action.dart
  lib/community/presentation/community_detail/community_detail_notifier.dart
  lib/community/presentation/community_detail/community_detail_screen.dart
  lib/community/presentation/community_detail/community_detail_screen_root.dart
  lib/community/presentation/community_detail/component/comment_item.dart
  lib/community/presentation/community_detail/components/comment_item.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_list/community_list_screen.dart
  lib/community/presentation/community_list/community_list_screen_root.dart
  lib/community/presentation/community_search/community_search_action.dart
  lib/community/presentation/community_search/community_search_notifier.dart
  lib/community/presentation/community_search/community_search_screen.dart
  lib/community/presentation/community_search/community_search_screen_root.dart
  lib/community/presentation/community_search/community_search_state.dart
  lib/community/presentation/community_write/community_write_action.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/community/presentation/community_write/community_write_screen.dart
  lib/community/presentation/community_write/community_write_screen_root.dart
  lib/community/presentation/community_write/community_write_state.dart
  lib/community/presentation/community_write/components/selected_image_tile.dart
  lib/community/presentation/components/post_list_item.dart
  lib/core/component/error_view.dart
  lib/core/router/app_router.dart
  lib/firebase_options.dart
  lib/main.dart
Labels: 🚀 feat

#181 [feat] home mock 구현
  lib/core/router/app_router.dart
  lib/core/styles/app_theme.dart
  lib/home/data/data_source/home_data_source.dart
  lib/home/data/data_source/mock_home_data_source_impl.dart
  lib/home/data/repository_impl/home_repository_impl.dart
  lib/home/domain/model/notice.dart
  lib/home/domain/repository/home_repository.dart
  lib/home/domain/usecase/get_notices_use_case.dart
  lib/home/domain/usecase/get_popular_posts_use_case.dart
  lib/home/domain/usecase/get_user_groups_use_case.dart
  lib/home/module/home_di.dart
  lib/home/presentation/component/group_section.dart
  lib/home/presentation/component/notice_section.dart
  lib/home/presentation/component/popular_post_section.dart
  lib/home/presentation/home_action.dart
  lib/home/presentation/home_notifier.dart
  lib/home/presentation/home_screen.dart
  lib/home/presentation/home_screen_root.dart
  lib/home/presentation/home_state.dart
Labels: 🚀 feat

#190 [refactor] UI수정
  lib/auth/presentation/component/custom_text_field.dart
  lib/auth/presentation/forgot_password/forgot_password_screen.dart
  lib/auth/presentation/login/login_screen.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/community/presentation/community_detail/community_detail_screen.dart
  lib/community/presentation/community_list/community_list_screen.dart
  lib/community/presentation/community_search/community_search_screen.dart
  lib/community/presentation/community_write/community_write_screen.dart
  lib/community/presentation/component/post_list_item.dart
  lib/community/presentation/components/post_list_item.dart
  lib/core/styles/app_theme.dart
  lib/edit_intro/presentation/screens/edit_intro_screen.dart
  lib/group/presentation/group_create/group_create_screen.dart
  lib/group/presentation/group_join_dialog.dart
  lib/group/presentation/group_list/group_list_screen.dart
  lib/group/presentation/group_list_item.dart
  lib/group/presentation/labeled_text_field.dart
  lib/group/presentation/tag_input_field.dart
  lib/intro/presentation/intro_screen.dart
  lib/setting/presentation/forgot_password_screen_2.dart
  lib/setting/presentation/settings_screen.dart
Labels: 🔨 refactor

#197 [feat]: timer
  lib/group/data/data_source/mock_timer_data_source_impl.dart
  lib/group/presentation/group_timer/components/gradient_wave_animation.dart
  lib/group/presentation/group_timer/components/member_grid.dart
  lib/group/presentation/group_timer/components/member_section_header.dart
  lib/group/presentation/group_timer/components/member_timer_item.dart
  lib/group/presentation/group_timer/components/timer_circle_progress.dart
  lib/group/presentation/group_timer/components/timer_display.dart
  lib/group/presentation/group_timer/group_timer_screen.dart
Labels: 🚀 feat

#202 [refactor] 공통앱바, 그룹 목록, 그룹생성 UI 수정
  lib/core/component/gradient_app_bar.dart
  lib/core/component/search_bar_component.dart
  lib/group/presentation/group_create/group_create_screen.dart
  lib/group/presentation/group_list/group_list_screen.dart
  lib/group/presentation/group_list_item.dart
Labels: 🔨 refactor

#203 [feat] bottom navi 최종본
  assets/images/navi1.png
  assets/images/navi2.png
  assets/images/navi3.png
  assets/images/navi4.png
  lib/community/presentation/community_list/community_list_screen.dart
  lib/community/presentation/community_write/community_write_screen_root.dart
  lib/core/component/navigation_bar.dart
  lib/core/router/app_router.dart
  lib/group/presentation/group_list/group_list_screen.dart
  lib/home/presentation/home_action.dart
  lib/home/presentation/home_notifier.dart
  lib/home/presentation/home_screen.dart
  lib/home/presentation/home_screen_root.dart
  pubspec.yaml
Labels: 🚀 feat, 👀 ready for review

#210 [feat] 로그인 기능 오류 수정
  lib/auth/domain/usecase/get_current_user_use_case.dart
  lib/auth/module/auth_di.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/core/router/app_router.dart
Labels: 🐞 fix, 🚀 feat, 👀 ready for review

#214 [fix] group detail view 연결 및 group setting data 성공적으로 반환
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/presentation/group_create/group_create_screen_root.dart
  lib/group/presentation/group_setting/group_settings_notifier.dart
  lib/group/presentation/group_timer/group_timer_notifier.dart
  lib/group/presentation/group_timer/group_timer_screen_root.dart
Labels: 🐞 fix, 🔨 refactor, 🚀 feat, 👀 ready for review

#215 [feat]: timer 활동중 멤버 한줄당 세명으로 변경
  lib/group/presentation/group_timer/components/member_grid.dart
  lib/group/presentation/group_timer/components/member_skeleton.dart
  lib/group/presentation/group_timer/components/member_timer_item.dart
Labels: 🚀 feat

#216 [feat] Roboto 글꼴 추가
  assets/fonts/Roboto-Black.ttf
  assets/fonts/Roboto-Bold.ttf
  assets/fonts/Roboto-Medium.ttf
  assets/fonts/Roboto-Regular.ttf
  lib/core/router/app_router.dart
  lib/core/styles/app_theme.dart
  pubspec.yaml
Labels: 🚀 feat

#219 [fix] 그룹 타이머 스켈레톤 수정
  lib/group/presentation/group_timer/components/member_skeleton.dart
  lib/group/presentation/group_timer/group_timer_screen.dart
Labels: 🐞 fix

#220 [sub_bug]: 로그인 실패 시 에러 메시지 개선_상 (#213)
  lib/auth/core/utils/auth_error_messages.dart
  lib/auth/core/utils/auth_exception_mapper.dart
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/presentation/forgot_password/forgot_password_notifier.dart
  lib/auth/presentation/forgot_password/forgot_password_screen.dart
  lib/auth/presentation/forgot_password/forgot_password_screen_root.dart
  lib/auth/presentation/forgot_password/forgot_password_state.dart
  lib/auth/presentation/login/login_notifier.dart
  lib/auth/presentation/login/login_screen.dart
  lib/auth/presentation/login/login_screen_root.dart
  lib/auth/presentation/login/login_state.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/auth/presentation/signup/signup_screen_root.dart
  lib/auth/presentation/signup/signup_state.dart
  lib/auth/presentation/terms/terms_notifier.dart
  lib/auth/presentation/terms/terms_screen.dart
  lib/auth/presentation/terms/terms_screen_root.dart
  lib/auth/presentation/terms/terms_state.dart
Labels: 🐞 fix

#222 [feat] 커뮤니티 목록 수정, 그룹 생성/수정 수정, home 화면 돋보기 제거, navBar 프로필영역확대
  lib/community/presentation/community_list/community_list_screen.dart
  lib/core/component/list_skeleton.dart
  lib/core/component/navigation_bar.dart
  lib/core/router/app_router.dart
  lib/group/presentation/group_list/group_list_screen.dart
  lib/group/presentation/group_list_item.dart
  lib/group/presentation/group_setting/group_settings_screen.dart
  lib/home/presentation/home_screen.dart
Labels: 🚀 feat

#223 [refactor] 프로필 및 설정 화면 디자인 개선
  lib/core/router/app_router.dart
  lib/intro/presentation/component/focus_stats_chart.dart
  lib/intro/presentation/component/user_intro.dart
  lib/intro/presentation/intro_screen.dart
  lib/setting/presentation/settings_action.dart
  lib/setting/presentation/settings_screen.dart
  lib/setting/presentation/settings_screen_root.dart
Labels: 🔨 refactor, 🎨 style

#226 [feat] 그룹 타이머 인터렉션 변경
  android/app/src/main/AndroidManifest.xml
  ios/Runner/Info.plist
  lib/core/service/notification_service.dart
  lib/group/presentation/group_timer/group_timer_screen_root.dart
  lib/main.dart
Labels: 🚀 feat

#227 [feat] 설정화면 앱 버전 및 스토어 연결 추가
  lib/setting/presentation/settings_action.dart
  lib/setting/presentation/settings_notifier.dart
  lib/setting/presentation/settings_screen.dart
  lib/setting/presentation/settings_screen_root.dart
  lib/setting/presentation/settings_state.dart
Labels: 🚀 feat

#229 [fix] 회원가입 및 비밀번호 재설정 화면 오류 수정
  lib/auth/presentation/forgot_password/forgot_password_notifier.dart
  lib/auth/presentation/forgot_password/forgot_password_screen_root.dart
  lib/auth/presentation/signup/signup_notifier.dart
Labels: 🐞 fix

#230 [fix] 프로필 설명 수정
  lib/intro/presentation/component/user_intro.dart
  lib/intro/presentation/intro_screen.dart
Labels: 🐞 fix, 🎨 style

#232 [fix] 타이머 및 알림 권한 설정 관련 로직 수정
  lib/core/service/notification_service.dart
  lib/group/presentation/group_timer/components/timer_display.dart
  lib/group/presentation/group_timer/group_timer_notifier.dart
  lib/group/presentation/group_timer/group_timer_screen_root.dart
  lib/main.dart
  pubspec.yaml
Labels: 🐞 fix

#234 [feat] 게시글 작성 후 작성한 게시글을 리스트 스크린에서 바로 볼 수 있도록 수정
  devtools_options.yaml
  lib/community/presentation/community_list/community_list_screen_root.dart
  lib/community/presentation/community_write/community_write_action.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/community/presentation/community_write/community_write_screen.dart
  lib/community/presentation/community_write/community_write_screen_root.dart
Labels: 🚀 feat

#235 [fix] 출석부 화면 이동 구현 및 mock 리팩토링
  lib/attendance/data/data_source/mock_attendance_data_source_impl.dart
  lib/attendance/domain/model/group.dart
  lib/attendance/domain/model/member.dart
  lib/attendance/domain/usecase/mock_get_group_detail_use_case.dart
  lib/attendance/module/attendance_di.dart
  lib/attendance/presentation/attendance/attendance_action.dart
  lib/attendance/presentation/attendance/attendance_notifier.dart
  lib/attendance/presentation/attendance/attendance_screen.dart
  lib/attendance/presentation/attendance/attendance_screen_root.dart
  lib/attendance/presentation/attendance/attendance_state.dart
  lib/core/router/app_router.dart
Labels: 🐞 fix

#236 [bug] : 게시글 작성 완료 후 목록 갱신 및 네비게이션 로직 개선
  lib/community/data/data_source/mock_post_data_source_impl.dart
  lib/community/module/community_di.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/community/presentation/community_write/community_write_screen_root.dart
Labels: 🐞 fix, 🔨 refactor

#241 [fix] 그룹 생성 후 네비게이션을 pushReplacement로 변경하여 백버튼 동작 개선
  lib/group/module/group_di.dart
  lib/group/presentation/group_create/group_create_screen_root.dart
Labels: 🐞 fix

#243 [docs] 프로젝트 문서 구조 개선 및 Mock DataSource 가이드 추가
  docs/README.md
  docs/arch/di.md
  docs/arch/di_route.md
  docs/arch/route.md
  docs/logic/datasource.md
  docs/overview/project.md
  docs/overview/roadmap.md
Labels: 📚 docs

#246 [feat] home, group 사용자 가입 그룹 조회 기능 및 타이머 생명주기 관리 개선
  lib/group/data/data_source/group_data_source.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/repository/group_repository.dart
  lib/group/presentation/group_timer/group_timer_notifier.dart
  lib/group/presentation/group_timer/group_timer_screen_root.dart
  lib/home/data/data_source/home_data_source.dart
  lib/home/data/data_source/mock_home_data_source_impl.dart
  lib/home/data/repository_impl/home_repository_impl.dart
  lib/home/domain/repository/home_repository.dart
  lib/home/domain/usecase/get_user_groups_use_case.dart
  lib/home/domain/usecase/get_user_joined_groups_use_case.dart
  lib/home/module/home_di.dart
  lib/home/presentation/home_notifier.dart
Labels: 🚀 feat

#249 [feat] firebase를 대비한 DTO 신규 생성
  docs/logic/firebase_model.md
  lib/auth/data/dto/joined_group_dto.dart
  lib/auth/data/dto/timer_activity_dto.dart
  lib/auth/data/dto/user_dto.dart
  lib/community/data/dto/post_comment_dto.dart
  lib/community/data/dto/post_dto.dart
  lib/community/data/dto/post_like_dto.dart
  lib/core/utils/firebase_timestamp_converter.dart
  lib/group/data/dto/group_dto.dart
  lib/group/data/dto/group_member_dto.dart
  lib/group/data/dto/group_timer_activity_dto.dart
Labels: 🚀 feat

#259 [utils]안드로이드 iOS 번들 아이디 변경
  android/app/build.gradle.kts
  android/app/src/main/AndroidManifest.xml
  ios/Runner.xcodeproj/project.pbxproj
  ios/Runner/Info.plist
  lib/core/router/app_router.dart
  lib/group/presentation/component/slide_to_map_gesture.dart
  lib/group/presentation/group_detail/group_detail_action.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
  lib/main.dart
  lib/map/data/data_source/map_data_source.dart
  lib/map/data/data_source/map_data_source_impl.dart
  lib/map/data/dto/location_dto.dart
  lib/map/data/dto/map_marker_dto.dart
  lib/map/data/dto/near_by_items_dto.dart
  lib/map/data/mapper/location_mapper.dart
  lib/map/data/mapper/map_marker_mapper.dart
  lib/map/data/mapper/near_by_items_mapper.dart
  lib/map/data/repository_impl/map_repository_impl.dart
  lib/map/domain/model/location.dart
  lib/map/domain/model/map_marker.dart
  lib/map/domain/model/near_by_items.dart
  lib/map/domain/repository/map_repository.dart
  lib/map/domain/usecase/check_location_permission_use_case.dart
  lib/map/domain/usecase/get_current_location_use_case.dart
  lib/map/domain/usecase/get_near_by_items_use_case.dart
  lib/map/domain/usecase/save_location_data_use_case.dart
  lib/map/module/filter_type.dart
  lib/map/module/map_di.dart
  lib/map/module/map_test_main.dart
  lib/map/presentation/components/filter_tabs.dart
  lib/map/presentation/components/nearby_card_view.dart
  lib/map/presentation/components/radius_slider.dart
  lib/map/presentation/map_action.dart
  lib/map/presentation/map_notifier.dart
  lib/map/presentation/map_screen copy.dart
  lib/map/presentation/map_screen.dart
  lib/map/presentation/map_screen_root.dart
  lib/map/presentation/map_state.dart
  pubspec.yaml
Labels: ⚙️ utils

#266 [fix] 로그인 이슈 해결
  lib/core/utils/stream_listenable.dart
Labels: 🐞 fix

#265 [feat] 홈화면 배너 추가
  .gitignore
  android/app/src/main/AndroidManifest.xml
  ios/Runner/Info.plist
  lib/home/presentation/home_screen.dart
  lib/quiz/data/data_source/quiz_dart_source.dart
  lib/quiz/data/repository_impl/quiz_repository_impl.dart
  lib/quiz/domain/model/quiz.dart
  lib/quiz/domain/repository/quiz_repository.dart
  lib/quiz/domain/use_case/answer_quiz_use_case.dart
  lib/quiz/domain/use_case/get_daily_quiz_usecase.dart
  lib/quiz/module/quiz_di.dart
  lib/quiz/module/vertax_client.dart
  lib/quiz/presentation/quiz_action.dart
  lib/quiz/presentation/quiz_banner.dart
  lib/quiz/presentation/quiz_notifier.dart
  pubspec.yaml
Labels: 🚀 feat

#281 [docs] Firebase 모델 문서 분리 및 구조 개선
  docs/logic/firebase_group_model.md
  docs/logic/firebase_model.md
  docs/logic/firebase_post_model.md
  docs/logic/firebase_user_model.md
Labels: 📚 docs

#284 [fix] 잘못된 임포트경로 수정
  lib/map/data/repository_impl/group_location_repository_impl.dart
  lib/map/module/group_location_di.dart
Labels: 🐞 fix

#303 [feat] 채팅 파이어베이스 연동 및 구현
  lib/core/router/app_router.dart
  lib/group/data/data_source/group_chat_data_source.dart
  lib/group/data/data_source/group_chat_firebase_data_source.dart
  lib/group/data/data_source/mock_group_chat_data_source.dart
  lib/group/data/dto/group_chat_message_dto.dart
  lib/group/data/mapper/group_chat_message_mapper.dart
  lib/group/data/repository_impl/group_chat_repository_impl.dart
  lib/group/domain/model/chat_message.dart
  lib/group/domain/repository/group_chat_repository.dart
  lib/group/domain/usecase/get_group_messages_stream_use_case.dart
  lib/group/domain/usecase/get_group_messages_use_case.dart
  lib/group/domain/usecase/mark_messages_as_read_use_case.dart
  lib/group/domain/usecase/send_message_use_case.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_chat/components/chat_bubble.dart
  lib/group/presentation/group_chat/components/chat_input.dart
  lib/group/presentation/group_chat/group_chat_action.dart
  lib/group/presentation/group_chat/group_chat_notifier.dart
  lib/group/presentation/group_chat/group_chat_screen.dart
  lib/group/presentation/group_chat/group_chat_screen_root.dart
  lib/group/presentation/group_chat/group_chat_state.dart
  lib/group/presentation/group_detail/group_detail_action.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
Labels: 🚀 feat

#289 [fix] onboarding 화면 UI 수정
  lib/onboarding/presentation/onboarding_screen.dart
  lib/onboarding/presentation/onboarding_screen_root.dart
Labels: 🐞 fix

#304 [feat] 게시글 수정 삭제 기능 구현
  lib/community/data/data_source/mock_post_data_source_impl.dart
  lib/community/data/data_source/post_data_source.dart
  lib/community/data/data_source/post_firebase_data_source.dart
  lib/community/data/repository_impl/post_repository_impl.dart
  lib/community/domain/repository/post_repository.dart
  lib/community/domain/usecase/delete_post_use_case.dart
  lib/community/domain/usecase/update_post_use_case.dart
  lib/community/module/community_di.dart
  lib/community/presentation/community_detail/community_detail_action.dart
  lib/community/presentation/community_detail/community_detail_notifier.dart
  lib/community/presentation/community_detail/community_detail_screen.dart
  lib/community/presentation/community_detail/community_detail_screen_root.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_list/community_list_screen_root.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/community/presentation/community_write/community_write_screen.dart
  lib/community/presentation/community_write/community_write_screen_root.dart
  lib/community/presentation/community_write/community_write_state.dart
  lib/core/event/app_event.dart
Labels: 🚀 feat

#314 [feat] 홈화면 배너 설정(꿀팁, 퀴즈)
  ios/Runner.xcodeproj/project.pbxproj
  lib/ai_assistance/data/data_source/fallback_service.dart
  lib/ai_assistance/data/data_source/quiz_data_source.dart
  lib/ai_assistance/data/data_source/study_tip_data_source.dart
  lib/ai_assistance/data/dto/quiz_dto.dart
  lib/ai_assistance/data/dto/study_tip_dto.dart
  lib/ai_assistance/data/mapper/quiz_mapper.dart
  lib/ai_assistance/data/mapper/study_tip_mapper.dart
  lib/ai_assistance/data/repository_impl/quiz_data_repository_impl.dart
  lib/ai_assistance/data/repository_impl/study_tip_repository_impl.dart
  lib/ai_assistance/domain/model/quiz.dart
  lib/ai_assistance/domain/model/study_tip.dart
  lib/ai_assistance/domain/repository/quiz_repository.dart
  lib/ai_assistance/domain/repository/study_tip_repository.dart
  lib/ai_assistance/domain/use_case/generate_quiz_use_case.dart
  lib/ai_assistance/domain/use_case/get_study_tip_use_case.dart
  lib/ai_assistance/module/ai_client_di.dart
  lib/ai_assistance/module/quiz_prompt.dart
  lib/ai_assistance/module/vertex_client.dart
  lib/ai_assistance/presentation/quiz_action.dart
  lib/ai_assistance/presentation/quiz_banner.dart
  lib/ai_assistance/presentation/quiz_notifier.dart
  lib/ai_assistance/presentation/quiz_screen.dart
  lib/ai_assistance/presentation/quiz_state.dart
  lib/ai_assistance/presentation/study_tip_action.dart
  lib/ai_assistance/presentation/study_tip_banner.dart
  lib/home/presentation/home_screen.dart
  lib/home/presentation/home_screen_root.dart
  lib/main.dart
  lib/quiz/data/data_source/quiz_dart_source.dart
  lib/quiz/data/repository_impl/quiz_repository_impl.dart
  lib/quiz/domain/repository/quiz_repository.dart
  lib/quiz/domain/use_case/answer_quiz_use_case.dart
  lib/quiz/domain/use_case/get_daily_quiz_usecase.dart
  lib/quiz/module/quiz_di.dart
  lib/quiz/module/vertax_client.dart
  lib/quiz/presentation/quiz_banner.dart
  lib/quiz/presentation/quiz_notifier.dart
  pubspec.yaml
Labels: 🚀 feat

#321 [feat]: theme 변경 및 formatter 설정
  analysis_options.yaml
  ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  lib/core/styles/app_theme.dart
  lib/group/presentation/group_chat/group_chat_screen.dart
Labels: 🚀 feat

#319 [fix] vertex ai 에서 firebase ai로 변경
  lib/ai_assistance/data/data_source/quiz_data_source.dart
  lib/ai_assistance/data/data_source/study_tip_data_source.dart
  lib/ai_assistance/data/repository_impl/quiz_data_repository_impl.dart
  lib/ai_assistance/data/repository_impl/study_tip_repository_impl.dart
  lib/ai_assistance/module/ai_client_di.dart
  lib/ai_assistance/module/vertex_client.dart
  lib/core/styles/app_theme.dart
Labels: 🐞 fix

#318 [refactor] post 쪽 인증 내부 로직 수정
  lib/auth/module/auth_di.dart
  lib/community/data/data_source/mock_post_data_source_impl.dart
  lib/community/data/data_source/post_data_source.dart
  lib/community/data/data_source/post_firebase_data_source.dart
  lib/community/data/repository_impl/post_repository_impl.dart
  lib/community/domain/usecase/create_comment_use_case.dart
  lib/community/domain/usecase/create_post_use_case.dart
  lib/community/domain/usecase/delete_post_use_case.dart
  lib/community/domain/usecase/toggle_bookmark_use_case.dart
  lib/community/domain/usecase/toggle_comment_like_use_case.dart
  lib/community/domain/usecase/toggle_like_use_case.dart
  lib/community/domain/usecase/update_post_use_case.dart
  lib/community/module/community_di.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/core/firebase/firebase_providers.dart
Labels: 🔨 refactor

#323 [fix] 검색시 중복된 게시글 제거
  lib/community/domain/usecase/search_posts_use_case.dart
Labels: 🐞 fix

#324 [feat] 홈화면 인기게시글 실제 데이터로 변경 및 UI 수정
  lib/home/domain/usecase/get_popular_posts_use_case.dart
  lib/home/module/home_di.dart
  lib/home/presentation/component/popular_post_section.dart
Labels: 🚀 feat

#327 [refactor] group data 레이어 영역 리팩토링
  lib/group/data/data_source/group_data_source.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/module/group_di.dart
Labels: 🔨 refactor

#330 [fix] 게시판 목록 필터 전체보기 클릭 오류 해결
  lib/community/presentation/community_list/community_list_screen.dart
Labels: 🐞 fix

#331 [fix] 그룹 목록 조회 시 사용자의 가입 여부 반영 오류 수정
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/mapper/group_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
Labels: 🐞 fix

#333 [fix] : 세팅 비밀번호 라우터 개선, 프로필 수정 분리현상 해결
  lib/app_setting/presentation/change_password.dart
  lib/app_setting/presentation/change_password_action.dart
  lib/app_setting/presentation/change_password_notifier.dart
  lib/app_setting/presentation/change_password_root.dart
  lib/app_setting/presentation/change_password_state.dart
  lib/app_setting/presentation/forgot_password_screen_root_2.dart
  lib/app_setting/presentation/settings_screen_root.dart
  lib/core/router/app_router.dart
  lib/profile/presentation/profile_edit/profile_edit_screen.dart
Labels: 🐞 fix

#339 [fix] 그룹타이머 깜빡임 이슈 해결
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
Labels: 🐞 fix

#338 [fix] 게시글 삭제 무한 로딩 해결
  lib/community/presentation/community_detail/community_detail_screen_root.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_list/community_list_screen_root.dart
Labels: 🐞 fix

#344 [fix] bug: 약관 bottom overflowed 현상 #295
  .gitignore
  ios/Podfile
  ios/Runner.xcodeproj/project.pbxproj
  lib/auth/presentation/terms/terms_screen.dart
Labels: 🐞 fix

#347 [fix] 그룹세팅에서 멤버정보 가져오기
  lib/group/presentation/group_setting/group_settings_notifier.dart
  lib/group/presentation/group_setting/group_settings_screen.dart
  lib/group/presentation/group_setting/group_settings_state.dart
Labels: 🐞 fix

#350 [fix] 그룹 탈퇴 구현 완료
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/domain/usecase/leave_group_use_case.dart
  lib/group/presentation/component/group_leave_dialog.dart
  lib/group/presentation/group_setting/group_settings_screen_root.dart
Labels: 🐞 fix

#354 [feat] 프로젝트 전체 예외 처리 방식 개선
  lib/community/data/data_source/post_firebase_data_source.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/map/data/data_source/group_location_data_source_impl.dart
  lib/map/data/data_source/map_data_source_impl.dart
  lib/storage/data_source/storage_firebase_data_source.dart
Labels: 🚀 feat

#346 [fix] 프로필 스토리지저장
  lib/auth/data/data_source/auth_firebase_data_source.dart
  lib/auth/domain/usecase/update_profile_image_use_case.dart
  lib/auth/module/auth_di.dart
  lib/core/component/nav_bar/navigation_bar.dart
  lib/core/utils/image_compression.dart
  lib/map/module/map_di.dart
  lib/map/presentation/group_map_notifier.dart
  lib/onboarding/presentation/onboarding_screen.dart
  lib/onboarding/presentation/splash_screen_root.dart
  lib/profile/presentation/profile_edit/profile_edit_notifier.dart
  lib/profile/presentation/profile_edit/profile_edit_screen.dart
  lib/profile/presentation/profile_edit/profile_edit_state.dart
  pubspec.yaml
Labels: 🐞 fix

#360 [feat] iOS Info.plist 설정 개선 및 추가, 비동기 함수 사용 패턴 개선
  ios/Runner/Info.plist
  lib/onboarding/presentation/splash_screen_root.dart
Labels: 🚀 feat

#369 [fix] 실시간 멤버 타이머 상태 동기화 및 표시 개선
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/model/group_member.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
Labels: 🐞 fix

#378 [feat] fcm 연동 및 notification firebase 연결
  functions/.eslintrc.js
  functions/.gitignore
  functions/index.js
  functions/package-lock.json
  functions/package.json
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/login_use_case.dart
  lib/auth/module/auth_di.dart
  lib/core/service/app_initialization_service.dart
  lib/main.dart
  lib/notification/data/data_source/mock_notification_data_source_impl.dart
  lib/notification/data/data_source/notification_data_source.dart
  lib/notification/data/data_source/notification_firebase_data_source.dart
  lib/notification/data/repository_impl/notification_repository_impl.dart
  lib/notification/domain/repository/notification_repository.dart
  lib/notification/domain/usecase/delete_notification_use_case.dart
  lib/notification/domain/usecase/mark_notification_as_read_use_case.dart
  lib/notification/module/fcm_di.dart
  lib/notification/module/notification_di.dart
  lib/notification/presentation/notification_notifier.dart
  lib/notification/service/fcm_service.dart
  lib/notification/service/fcm_token_service.dart
  test/notification/data/repository_impl/notification_repository_impl_test.dart
  test/notification/data/repository_impl/notification_repository_impl_test.mocks.dart
  test/notification/domain/usecase/get_notifications_use_case_test.mocks.dart
Labels: 🚀 feat, 👀 ready for review

#379 [fix] 출석부 UI 변경 및 버그수정
  lib/group/presentation/group_attendance/attendance_action.dart
  lib/group/presentation/group_attendance/attendance_notifier.dart
  lib/group/presentation/group_attendance/attendance_screen.dart
  lib/group/presentation/group_attendance/attendance_screen_root.dart
  lib/group/presentation/group_attendance/attendance_state.dart
Labels: 🐞 fix

#380 [fix] 그룹 상세화면 안정성 및 알림 기능 추가
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
  lib/group/presentation/group_detail/group_detail_state.dart
Labels: 🐞 fix, 🔨 refactor

#385 [feat] notification navigate 수정 완료
  .gitignore
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/notification/presentation/notification_notifier.dart
  lib/notification/presentation/notification_screen_root.dart
Labels: 🐞 fix, 🚀 feat, 👀 ready for review

#388 [fix] 타이머 상태별 배경색상 변경
  lib/group/presentation/group_detail/components/timer_display.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
Labels: 🐞 fix

#389 [feat] 회원가입화면 에러 수정 및 리팩토링
  lib/auth/data/data_source/auth_firebase_data_source.dart
  lib/auth/module/auth_di.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/signup/signup_screen.dart
  lib/auth/presentation/signup/signup_screen_root.dart
Labels: 🚀 feat

#398 [feat] 그룹 타이머 조건 기능 구현 및 상태값 추가, 로직개선, 출석부 계산식 변경
  lib/core/utils/focus_stats_calculator.dart
  lib/core/utils/time_formatter.dart
  lib/group/data/data_source/group_data_source.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/dto/group_dto.dart
  lib/group/data/mapper/group_mapper.dart
  lib/group/data/mapper/group_member_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/model/group.dart
  lib/group/domain/model/timer_activity_type.dart
  lib/group/domain/repository/group_repository.dart
  lib/group/domain/usecase/pause_timer_use_case.dart
  lib/group/domain/usecase/record_timer_activity_use_case.dart
  lib/group/domain/usecase/start_timer_use_case.dart
  lib/group/domain/usecase/stop_timer_use_case.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
Labels: 🚀 feat

#404 [refactor] memberId 필드를 userId로 변경
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/dto/timer_activity_dto.dart
  lib/core/utils/focus_stats_calculator.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/dto/group_timer_activity_dto.dart
  lib/group/data/mapper/group_member_mapper.dart
  lib/group/domain/model/attendance.dart
  lib/group/presentation/group_attendance/attendance_screen.dart
  lib/group/presentation/group_attendance/attendance_screen_root.dart
  lib/group/presentation/group_create/group_create_action.dart
  lib/group/presentation/group_create/group_create_notifier.dart
  lib/map/data/data_source/group_location_data_source.dart
  lib/map/data/data_source/group_location_data_source_impl.dart
  lib/map/data/data_source/mock_group_location_data_source.dart
  lib/map/data/dto/group_member_location_dto.dart
  lib/map/data/mapper/group_member_location_dto_mapper.dart
  lib/map/data/repository_impl/group_location_repository_impl.dart
  lib/map/domain/model/group_member_location.dart
  lib/map/domain/repository/group_location_repository.dart
  lib/map/domain/usecase/update_member_location_use_case.dart
  lib/map/presentation/group_map_action.dart
  lib/map/presentation/group_map_notifier.dart
  lib/map/presentation/group_map_screen.dart
  lib/map/presentation/group_map_screen_root.dart
Labels: 🔨 refactor

#403 [feat] (작업중) AppLogger 생성(logging 패키지[근본]) 및 print, debugprint문 AppLogger로 교체
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/presentation/forgot_password/forgot_password_notifier.dart
  lib/auth/presentation/login/login_notifier.dart
  lib/auth/presentation/signup/signup_notifier.dart
  lib/auth/presentation/terms/terms_notifier.dart
  lib/community/data/data_source/post_firebase_data_source.dart
  lib/community/data/repository_impl/post_repository_impl.dart
  lib/community/presentation/community_detail/community_detail_notifier.dart
  lib/community/presentation/community_list/community_list_notifier.dart
  lib/community/presentation/community_search/community_search_notifier.dart
  lib/community/presentation/community_search/community_search_screen_root.dart
  lib/community/presentation/community_write/community_write_notifier.dart
  lib/core/auth/auth_provider.dart
  lib/core/utils/app_logger.dart
  lib/main.dart
  pubspec.yaml
Labels: 🚀 feat

#411 [feat] firebase functions 기능 추가 완료
  functions/index.js
Labels: 🚀 feat, 👀 ready for review

#429 [feat] 프로젝트 로거 적용 완료
  lib/community/module/community_di.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_create/group_create_screen_root.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
  lib/group/presentation/group_search/group_search_notifier.dart
  lib/group/presentation/group_setting/group_settings_notifier.dart
  lib/group/presentation/group_setting/group_settings_screen_root.dart
  lib/map/data/data_source/map_data_source_impl.dart
  lib/map/data/data_source/mock_current_location_data_source.dart
  lib/map/data/data_source/mock_group_location_data_source.dart
  lib/map/presentation/map_screen.dart
  pubspec.yaml
Labels: 🚀 feat

#433 [feat] 홈화면 이미지 에러로그 수정
  lib/banner/data/data_source/mock_banner_data_source_impl.dart
  lib/banner/presentation/component/advertisement_banner.dart
  lib/core/component/app_image.dart
  lib/core/component/nav_bar/navigation_bar.dart
  lib/home/presentation/component/popular_post_section.dart
  lib/home/presentation/home_screen.dart
Labels: 🚀 feat

#449 [feat] (1) 앱바 오버플로 수정 (2) 그룹화면 ref 에러 수정 (3) 네비게이션바 클릭영역 확장
  lib/core/component/gradient_app_bar.dart
  lib/core/component/nav_bar/navigation_bar.dart
  lib/group/presentation/group_detail/group_detail_screen_root.dart
Labels: 🚀 feat

#447 [refactor] 그룹 타이머 컬렉션
  lib/core/utils/messages/group_error_messages.dart
  lib/group/data/data_source/firebase/group_timer_firebase.dart
  lib/group/data/data_source/group_data_source.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/data_source/mock_group_chat_data_source.dart
  lib/group/data/data_source/mock_group_data_source_impl.dart
  lib/group/data/dto/group_member_activity_dto.dart
  lib/group/data/mapper/group_member_activity_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/model/group_member_activity.dart
  lib/group/domain/repository/group_repository.dart
  lib/group/domain/usecase/record_timer_activity_use_case.dart
  lib/group/module/group_di.dart
  lib/group/presentation/group_create/group_create_action.dart
  lib/group/presentation/group_create/group_create_notifier.dart
  lib/group/presentation/group_create/group_create_screen.dart
  lib/group/presentation/group_create/group_create_state.dart
Labels: 🔨 refactor

#452 [refactor] 그룹 타이머 시스템 구조 개선 및 DTO 통합
  docs/logic/firebase_group_model.md
  docs/logic/firebase_user_model.md
  lib/group/data/data_source/firebase/group_timer_firebase.dart
  lib/group/data/dto/group_member_activity_dto.dart
  lib/group/data/dto/group_member_dto.dart
  lib/group/data/dto/group_timer_activity_dto.dart
  lib/group/data/mapper/group_member_activity_mapper.dart
  lib/group/data/mapper/group_member_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/model/group_member.dart
  lib/group/domain/model/group_member_activity.dart
  lib/group/domain/model/timer_activity_type.dart
  lib/group/presentation/group_detail/components/member_grid.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
  test/auth/data/data_source/mock_auth_data_source_test.dart
Labels: 🔨 refactor

#457 [refactor] : 그룹 멤버 데이터 캐싱 로직 제거
  lib/core/utils/time_formatter.dart
  lib/group/data/data_source/firebase/group_query_firebase.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/model/group_member.dart
  lib/group/domain/service/focus_stats_calculator.dart
  lib/group/domain/service/timer_calculation_service.dart
  lib/group/presentation/group_detail/components/member_grid.dart
  lib/group/presentation/group_detail/components/timer_display.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/group/presentation/group_detail/group_detail_screen.dart
Labels: 🔨 refactor

#462 [refactor] 사용자 활동/프로필/요약 데이터 구조 및 처리 로직 개선
  lib/auth/data/data_source/firebase/user_profile_firebase.dart
  lib/auth/data/dto/summary_dto.dart
  lib/auth/data/dto/user_dto.dart
  lib/auth/data/mapper/summary_mapper.dart
  lib/auth/data/mapper/user_mapper.dart
  lib/auth/data/repository_impl/auth_activity_repository_impl.dart
  lib/auth/domain/model/activity.dart
  lib/auth/domain/model/summary.dart
  lib/auth/domain/model/user.dart
  lib/auth/domain/repository/auth_activity_repository.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/update_summary_for_timer_use_case.dart
  lib/auth/presentation/login/login_notifier.dart
  lib/core/auth/auth_provider.dart
  lib/group/presentation/group_detail/group_detail_notifier.dart
  lib/home/domain/usecase/get_streak_days_use_case.dart
  lib/home/domain/usecase/get_total_study_times_use_case.dart
  lib/home/module/home_di.dart
  lib/home/presentation/home_notifier.dart
  lib/home/presentation/home_screen.dart
  lib/home/presentation/home_state.dart
  lib/profile/presentation/profile_notifier.dart
  lib/profile/presentation/user_profile/user_profile_notifier.dart
  lib/profile/presentation/user_profile/user_profile_screen.dart
Labels: 🔨 refactor

#464 [refactor] Cloud Functions 로직 개선 및 통합
  functions/index.js
Labels: 🔨 refactor

#466 [feat] 출석부 api 연결 및 firebase function 수정
  functions/index.js
  lib/auth/data/data_source/auth_data_source.dart
  lib/auth/data/data_source/auth_firebase_data_source.dart
  lib/auth/data/data_source/firebase/user_terms_firebase.dart
  lib/group/data/data_source/firebase/group_core_firebase.dart
  lib/group/data/data_source/firebase/group_stats_firebase.dart
  lib/group/data/data_source/firebase/group_timer_firebase.dart
  lib/group/data/data_source/group_data_source.dart
  lib/group/data/data_source/group_firebase_data_source.dart
  lib/group/data/dto/attendance_dto.dart
  lib/group/data/dto/user_streak_dto.dart
  lib/group/data/mapper/attendance_mapper.dart
  lib/group/data/mapper/user_streak_mapper.dart
  lib/group/data/repository_impl/group_repository_impl.dart
  lib/group/domain/repository/group_repository.dart
  lib/group/domain/usecase/attendance/get_attendance_by_month_use_case.dart
  lib/group/presentation/group_attendance/attendance_action.dart
  lib/group/presentation/group_attendance/attendance_notifier.dart
  lib/group/presentation/group_attendance/attendance_screen.dart
  lib/group/presentation/group_attendance/attendance_screen_root.dart
  lib/group/presentation/group_attendance/attendance_state.dart
  lib/group/presentation/group_attendance/component/attendance_bottom_sheet.dart
  lib/group/presentation/group_attendance/component/attendance_summary_card.dart
  lib/group/presentation/group_attendance/component/empty_attendance_view.dart
  lib/group/presentation/group_attendance/component/member_attendance_card.dart
  lib/group/presentation/group_attendance/component/weekday_label.dart
  lib/home/presentation/home_notifier.dart
Labels: 🚀 feat

#473 [feat] firebase 색인 추가 완료
  firebase.json
  firestore.indexes.json
  firestore.rules
  lib/core/router/app_router.dart
  lib/onboarding/module/onboarding_completion_status.dart
Labels: 🐞 fix, 🚀 feat, 👀 ready for review

#476 [fix] Home Appbar notification 버튼 상태 처리 및 알림 모두 읽음 처리
  lib/home/presentation/home_notifier.dart
  lib/home/presentation/home_screen.dart
  lib/home/presentation/home_screen_root.dart
  lib/home/presentation/home_state.dart
  lib/notification/presentation/notification_screen.dart
Labels: 🐞 fix, 👀 ready for review

#482 [fix] : 다크모드 비활성화
  lib/main.dart
Labels: 🐞 fix

#487 [fix] notification ios 오류 수정
  ios/Runner/Info.plist
  lib/core/service/app_initialization_service.dart
  lib/notification/presentation/notification_notifier.dart
  lib/notification/service/fcm_service.dart
  lib/notification/service/fcm_token_service.dart
  test/notification/data/repository_impl/notification_repository_impl_test.dart
  test/notification/data/repository_impl/notification_repository_impl_test.mocks.dart
  test/notification/domain/model/notification_mapper_test.dart
Labels: 🐞 fix, 🚀 feat, 👀 ready for review
