Repository devlink-community/gaesubang-app, pull requests merged in 2025-04, with the labels that each got.

#2 docs: 개발 가이드 표준안 초안 생성 #1
  docs/README.md
  docs/arch/di_route.md
  docs/arch/error.md
  docs/arch/folder.md
  docs/arch/layer.md
  docs/arch/naming.md
  docs/arch/result.md
  docs/logic/datasource.md
  docs/logic/dto.md
  docs/logic/mapper.md
  docs/logic/model.md
  docs/logic/repository.md
  docs/logic/usecase.md
  docs/ui/action.md
  docs/ui/component.md
  docs/ui/root.md
  docs/ui/screen.md
  docs/ui/state.md
  docs/ui/viewmodel.md
Labels: documentation, help wanted

#5 [utils] template 이슈 작성자, 라벨, 프로젝트 할당 자동화
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/docs_template.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/bug_template.md
  .github/feature_template.md
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/add-to-project.yml
  .github/workflows/assign-issue-creator.yml
  .github/workflows/pr-labeler.yml
Labels: 👀 ready for review, ⚙️ utils

#4 [Util] 문서 병합 스크립트 유틸 구현
  .gitignore
  _tools/README.md
  _tools/merge_docs.sh
Labels: 📚 docs, ⚙️ utils

#16 [utils]gitHub 자동화 테스트
  .github/workflows/add-to-project.yml
  .github/workflows/pr-labeler.yml
Labels: 📚 docs, ⚙️ utils

#22 [docs] 자동화테스트
  .github/workflows/add-pr-to-project.yml
  .github/workflows/add-to-project.yml
  .github/workflows/assign-issue-creator.yml
  .github/workflows/assign-pr-creator.yml
  .github/workflows/issues-labeler.yml
Labels: 📚 docs

#20 [feat] auth 비즈니스 로직 구현
  lib/auth/data/data_source/auth_data_source.dart
  lib/auth/data/data_source/mock_auth_data_source.dart
  lib/auth/data/dto/user_dto.dart
  lib/auth/data/mapper/user_mapper.dart
  lib/auth/data/repository_impl/auth_repository_impl.dart
  lib/auth/domain/model/user.dart
  lib/auth/domain/repository/auth_repository.dart
  lib/auth/domain/usecase/login_use_case.dart
  lib/auth/domain/usecase/mock_login_user_case.dart
  lib/auth/module/auth_di.dart
  lib/auth/presentation/login_notifier.dart
  lib/auth/presentation/login_state.dart
  lib/core/result/result.dart
  test/auth/presentation/login_notifier_test.dart
Labels: 🚀 feat, ✅ test, 👀 ready for review

#39 [docs] riverpod 관련 반영 1차 수정
  docs/arch/di_route.md
  docs/arch/folder.md
  docs/arch/layer.md
  docs/arch/naming.md
  docs/logic/dto.md
  docs/logic/mapper.md
  docs/logic/model.md
  docs/logic/usecase.md
  docs/ui/notifier.md
  docs/ui/root.md
  docs/ui/screen.md
  docs/ui/state.md
  docs/ui/viewmodel.md
Labels: 📚 docs, ⏳ in progress, 👀 ready for review

#40 [docs] 문서 병합 유틸 수정 (생성날짜 기록)
  _tools/merge_docs.sh
Labels: 📚 docs
